html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

#output_button_row div button, #input_button_row div button {
    border-radius: 0px;
    color: gray;
    background: transparent;
}

 #output_button_row div button:hover, #input_button_row div button:hover{
    background: #D3D3D3;
}

/* THIS WILL BE DONE IN JS JUST LIKE ON THE ORIGINAL PAGE THIS IS JUST FOR TESTING */
 #output_button_row div button:focus, #input_button_row div button:focus{
    outline: none;
    box-shadow: none;
    color: rgb(17, 148, 213);
    background: transparent;
    border-bottom: 2px solid rgb(17, 148, 213);
}

.button-clicked {
    outline: none;
    box-shadow: none;
    color: rgb(17, 148, 213);
    background: transparent;
    border-bottom: 2px solid rgb(17, 148, 213);
}

.button-holder {
    padding: 10px;
}

.button-holder button {
    margin: 5px;
}

.container{
    padding-top: 15px;
}

textarea {
    resize: none;
}

textarea:focus, textarea:active{
    outline: none;
    border-color: #D3D3D3 !important;
    -webkit-appearence: none;
    -webkit-box-shadow: none !important;
}

.border-left{
    border-left: 1px solid #D3D3D3;
}

.no-top-radius{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.no-bottom-radius {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#input_button_row {
    border-top: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.border-top {
    border-top: 1px solid #D3D3D3;
}

.border-right {
    border-right: 1px solid #D3D3D3;
}

.border-bottom{
    border-bottom: 1px solid #D3D3D3;
}

#input_text_area {
    border-left: 1px solid #D3D3D3;
    border-bottom: none;
    border-top: 1px solid #D3D3D3;
}

#output_button_row {
    border-bottom: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
